/* 
traslate px to rem
visually-hidden
overflow
list-reset
link-reset
btn-reset
*/

// translate px to rem
@function rem($pixels) {
	@return #{$pixels/16}rem;
}

.visually-hidden {
	position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
	// display: none;
}

// ====================================== overflow
.overflow-hidden {
	overflow: hidden;
}

.overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

// ===================================== reset ===
.list-reset {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.link-reset {
	color: $c-link;
	&:hover {
		text-decoration: none;
	}
}

.btn-reset {
	border: none;
	background-color: transparent;
	padding: 0;
}

// ==================================
.lh-2 {
	line-height: 1.89;
}

.fz-19 {
	font-size: 19px;

	@media (max-width: $sm) {
		font-size: 16px;
	}
}

.italic {
	font-style: italic;
}