// ================================== font-family ===
$ff-main: "Lato", sans-serif;
$ff-title: "Montserrat", sans-serif;


// ================================== font-size ===
$fz-main: 16px;
$fz-title: 28px;


// ================================== colors ====
//color
$c-main: #354C5E;
$c-secondary: #FFF;
$c-link: #1A70C5;

$c-subtitle: #516e84;

$c-orange-1: #FDB726;
$c-orange-2: #FCA218;

$c-green-1: #3EB53E;
$c-green-2: #299329;
$c-green-3: #5ED05E;

$c-grey: #97a3af;
$c-lite-grey: #dfe2e5;
$c-lite-grey-2: #f3f4f6;
$c-lite-grey-3: #fcfcfc;

$c-blue-1: #1a70c5;
$c-blue-2: #07a1fb;
$c-lite-blue: #f0f3fa;

// ================================== breakpoints ===
$sxl: 1509.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
