.table {
  width: 100%;

  th, td {
    padding: 20px 10px;

    &:first-child {
      padding-left: 30px;

      @media (max-width: $lg) {
        padding-left: 10px;
      }
    }

    &:nth-child(-n + 2) {
      width: 170px;

      @media (max-width: $sm) {
        width: 50%px;
      }
    }

    @media (max-width: $sm) {
      padding: 5px 10px;
    }
  }

  thead {

    @media (max-width: $sm) {
      display: none;
    }

    th {
      font-size: 19px;
    }
  }

  tbody {

    tr {

      &:nth-child(odd) {
        background-color: $c-lite-gray-2;
      }

      @media (max-width: $sm) {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    td {
      @media (max-width: $sm) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}



// ====================================== table-2
.wrap-table-2 {
  width: 100%;
}

.table-2 {
  width: 100%;

  tr {
    border: 1px solid $c-lite-gray;
    margin-top: -1px;

    @media (max-width: $md) {
      display: flex;
      flex-wrap: wrap;
      padding: rem(10);
    }
  }

  td {
    padding: rem(10) rem(20);

    @media (max-width: $md) {
      padding: rem(5) rem(10);
    }

    &:nth-child(1) {
      min-width: 160px;

      @media (max-width: $sxl) {
        min-width: 120px;
      }

      @media (max-width: $md) {
        min-width: auto;
        width: 30%;
      }

      a {
        display: block;

        &:first-child {
          font-size: rem(20);
          margin-bottom: rem(8);
        }
      }
    }

    &:nth-child(2) {
      font-size: rem(20);

      @media (max-width: $md) {
        order: 1;
        flex-wrap: wrap;
      }

      a {
        word-break: break-all;

        @media (max-width: $xl) {
          font-size: rem(16);
        }
      }
    }

    &:nth-child(3) {
      min-width: 250px;
      text-align: center;

      @media (max-width: $md) {
        min-width: auto;
        width: 70%;
      }
    }
  }
}



// ======================================================== table-3
.table-3 {
  width: 100%;
  table-layout: fixed;


  tbody {
    width: 100%;
  }

  tr {
    border: 1px solid $c-lite-gray;
    margin-top: -1px;

    @media (max-width: $sm) {
      display: flex;
      flex-wrap: wrap;
      padding: rem(10) 0;
    }
  }

  th, td {
    padding: rem(20) rem(10);

    &:first-child {
      padding-left: rem(30);
      width: 25%;

      @media (max-width: $lg) {
        padding-left: rem(10);
      }
    }

    &:last-child {
      width: 15%;
    }

    @media (max-width: $sm) {
      padding: rem(5) rem(10);
    }
  }

  th {
    font-size: rem(19);

    &:nth-child(3) {
      text-align:  center;
    }
  }

  td {

    &:nth-child(1) {
      @media (max-width: $sm) {
        width: 50%;
      }
    }

    &:nth-child(2) {
      @media (max-width: $sm) {
        order: 3;
        width: 100%;
      }
    }

    &:nth-child(3) {
      text-align:  center;
      font-weight: 700;

      @media (max-width: $sm) {
        width: 50%;
      }
    }

    div:first-child {
      font-weight: 700;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: rem(30);
  }
}
