.slider {
	background: url("/design/img/ui/slider-bg.jpg") repeat-x bottom center;
	background-size: auto 240px;
	padding-bottom: 40px;

	.slick-arrow {
		width: 70px;
		height: 70px;		

		@media (max-width: 1700px) {
			width: 50px;
			height: 50px;
		}

		svg {
			width: 30px;
			height: 30px;

			@media (max-width: 1700px) {
				width: 20px;
				height: 20px;
			}
		}
	}

	.slick-prev {
		right: calc(100% + 30px);
		z-index: 10;

		@media (max-width: 1700px) {
			right: 97%;
		}
	}

	.slick-next {
		left: calc(100% + 30px);
		z-index: 10;

		@media (max-width: 1700px) {
			left: 97%;
		}
	}


	&__list {
		margin: 0 -30px;

		@media (max-width: 1700px) {
			margin: 0;
		}

		.slick-arrow {
			top: 21%;

			@media (max-width: $sxl) {
				top: 17%;
			}
		}

		.slick-dots {
			padding-top: rem(10);
		}
	}

	&__list-2 {
		margin: 0 -20px;

		@media (max-width: $md) {
			margin: 0 -5px;
		}

		.slick-arrow {
			top: 35%;
		}
	}

	&__item {
		position: relative;
		margin: 0 30px;

		@media (max-width: 1700px) {
			margin: 0 10px;
		}
	}

	&__item-2 {
		background-color: #ffffff;
		border: 1px solid #eff1f2;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: 0 15px 15px 0px rgba(32, 70, 128, 0.21);
		margin: 0 20px 34px;

		@media (max-width: $md) {
			margin: 0 5px 28px;
		}
	}

	&__link {
		display: block;
		text-align: center;
	}

	&__wrap-img {
		background-color: #ffffff;
		border: 1px solid #eff1f2;
		border-radius: 4px;
		box-shadow: 0 15px 15px 0px rgba(32, 70, 128, 0.21);
		padding: 30px 10px;
		max-width: 240px;
		margin: 0 auto 34px;

		@media (max-width: $sxl) {
			padding: 15px;
		}

		@media (max-width: $md) {
			margin-bottom: 20px;
			box-shadow: 0 10px 10px 0px rgba(32, 70, 128, 0.21);
		}

		@media (max-width: $sm) {
			height: 130px;
		}

		img {
			max-height: 100%;
			margin: 0 auto;
		}
	}


	@media (max-width: $sm) {
		padding-bottom: 20px;
		background-size: auto 140px;
	}
}
