.slider-4 {
  &__list {
    background-color: $c-lite-blue-2;
    padding: 15px 70px 20px;

    @media (max-width: 1700px) {
      margin: 0;
    }

    @media (max-width: $xl) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (max-width: $sm) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__item {
    position: relative;
    margin: 0 20px; 

    img {
      margin: 0 auto;
    }

    @media (max-width: 1700px) {
      margin: 0 10px;
    }
  }

  .slick-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(180deg, #fdb726 0%, #fca218 100%);
    box-shadow: 0px 21px 50px -10px rgba(252, 101, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 22%;

    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
      position: relative;
    }

    &.slick-disabled {
      opacity: .3;
    }
  }

  .slick-prev {
    left: 14px;
    z-index: 10;

    svg {
      right: 2px;
    }
  }

  .slick-next {
    right: 14px;
    z-index: 10;

    svg {
      left: 2px;
    }
  }

  .slick-dots {
    @extend .list-reset;
    padding-top: 10px;
    text-align: center;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .slick-dots li button {
    transition-duration: 0.3s;
    display: inline-block;
    font-size: 0;
    color: transparent;
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 5px;
    border-radius: 50%;
    outline: none;

    border: 1px solid #ccdff3;
    background-color: #ddeaf7;
  }

  .slick-dots li.slick-active button {
    width: 9px;
    height: 9px;
    border: 1px solid #fbc140;
    margin: none;
    background-color: #fbc140;
    background-image: linear-gradient(to bottom, #fceb65 0%, #faa537 100%);
  }
}
