.slider-4 {
	&__list {
		padding: 30px 0 20px;

		@media (max-width: 1700px) {
			margin: 0;
		}

		@media (max-width: $xl) {
			padding-left: 15px;
			padding-right: 15px;
		}

		@media (max-width: $sm) {
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	&__item {
		position: relative;
		margin: 0 10px; 

		img {
			margin: 0 auto;
		}

		@media (max-width: 1700px) {
			margin: 0 10px;
		}
	}

	.slick-arrow {
		width: 40px;
		height: 40px;
		top: 37%;

		svg {
			width: 16px;
			height: 16px;
		}

		&.slick-disabled {
			opacity: .3;
		}
	}

	.slick-prev {
		left: 14px;
		z-index: 10;
	}

	.slick-next {
		right: 14px;
		z-index: 10;
	}

	.slick-dots {
		padding-top: 10px;
	}
}
