.slider-3 {
	@media (max-width: $sm) {
		padding-bottom: 20px;
		background-size: auto 140px;
	}
	
	&__list {
		border: 1px solid $c-lite-grey-2;
		background: linear-gradient(to bottom, #FAFCFF 0%, #F2F4F9 25%, #F2F4F9 75%, #FAFCFF 100%);

		padding: 30px 0 15px;

		@media (max-width: 1700px) {
			margin: 0;
		}

		@media (max-width: $xl) {
			padding-left: 15px;
			padding-right: 15px;
		}

		@media (max-width: $sm) {
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	&__item {
		position: relative;
		margin: 0 25px;
		max-width: 225px;
		padding-bottom: 2px !important;

		@media (max-width: 1700px) {
			margin: 0 10px;
		}
	}

	&__link {
		display: block;
		text-align: center;
		padding-bottom: 2px;
		font-size: rem(18);
	}

	&__wrap-img {
		height: 168px;		
		background-color: #ffffff;
		border: 1px solid #eff1f2;
		border-radius: 4px;
		box-shadow: 0 20px 60px -10px rgba(32, 70, 128, 0.21);
		padding: 15px 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 22px;

		@media (max-width: $md) {
			margin-bottom: 20px;
			box-shadow: 0 10px 10px 0px rgba(32, 70, 128, 0.21);
		}

		img {
			max-height: 100%;
			max-width: 116px;
			margin: 0 auto;
			flex-shrink: 0;
		}
	}

	.slick-arrow {
		top: 31%;
		width: 70px;
		height: 70px;

		@media (max-width: $xl) {
			opacity: .3;
		}

		@media (max-width: $lg) {
			top: 27%;
		}

		svg {
			width: 28px;
			height: 28px;
		}
	}

	.slick-prev {
		left: -34px;

		@media (max-width: $xl) {
			left: 0;
		}
	}

	.slick-next {
		right: -34px;

		@media (max-width: $xl) {
			right: 0;
		}
	}
}
