.slider {
	background: url("/design/img/ui/slider-bg.jpg") repeat-x bottom center;
	background-size: auto 233px;
	padding-bottom: 40px;

	.slick-arrow {
		width: 70px;
		height: 70px;		

		svg {
			width: 28px;
			height: 28px;
		}
	}

	.slick-prev {
		right: calc(100% + 30px);
		z-index: 10;

		@media (max-width: 1700px) {
			right: calc(100% - 65px);
		}

		@media (max-width: 1550px) {
			right: calc(100% - 100px);
		}
	}

	.slick-next {
		left: calc(100% + 30px);
		z-index: 10;

		@media (max-width: 1700px) {
			left: calc(100% - 65px);
		}

		@media (max-width: 1550px) {
			left: calc(100% - 100px);
		}
	}


	&__list {
		margin: 0 -30px;

		@media (max-width: 1530px) {
			margin: 0 -15px;
		}

		@media (max-width: $md) {
			margin: 0;
		}

		.slick-arrow {
			top: 19%;

			@media (max-width: 1550px) {
				opacity: .3;

				&:hover {
					opacity: 1;
				}
			}
		}

		.slick-dots {
			padding-top: rem(10);
		}
	}

	&__list-2 {
		margin: 0 -20px;


		@media (max-width: $md) {
			margin: 0 -5px;
		}

		.slick-arrow {
			top: 35%;
		}
	}

	&__item {
		position: relative;
		margin: 0 30px;
		max-width: 315px;

		@media(max-width: $md) {
			margin: 0 10px;
		}
	}

	&__item-2 {
		background-color: #ffffff;
		border: 1px solid #eff1f2;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: 0 15px 15px 0px rgba(32, 70, 128, 0.21);
		margin: 0 20px 34px;

		@media (max-width: $md) {
			margin: 0 5px 28px;
		}
	}

	&__link {
		display: block;
		text-align: center;
		font-size: rem(18);

		@media (max-width: $sm) {
			font-size: rem(16);
		}
	}

	&__wrap-img {
		height: 190px;
		margin-bottom: 34px;
		padding: 25px 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ffffff;
		border: 1px solid #eff1f2;
		border-radius: 4px;
		// box-shadow: 0 15px 15px 0px rgba(32, 70, 128, 0.21);
		box-shadow: 0 20px 60px -10px rgba(32, 70, 128, 0.21);
		
		img {
			max-height: 100%;
			flex-shrink: 0;
		}

		@media (max-width: 1700px) {
			padding: 15px 40px;
		}

		@media (max-width: $sxl) {
			padding: 25px 25px;
		}

		@media (max-width: $md) {
			margin-bottom: 20px;
			box-shadow: 0 10px 10px 0px rgba(32, 70, 128, 0.21);
			height: 160px;
		}

		@media (max-width: $sm) {
			height: 130px;
			padding: 25px 15px;
		}
	}


	@media (max-width: $sm) {
		padding-bottom: 20px;
		background-size: auto 200px;
	}
}

.slider__list,
.slider__list-2,
.slider-3__list {
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease;
}

.slick-initialized {
	visibility: visible;
	opacity: 1;    
}
