.slider {
  background: url("/design/img/bg/slider-bg.jpg") repeat-x bottom center;
  background-size: auto 240px;
  padding-bottom: 40px;

  @media (max-width: $sm) {
    padding-bottom: 20px;
    background-size: auto 140px;
  }

  &__list {
    margin: 0 -30px;

    @media (max-width: 1700px) {
      margin: 0;
    }
  }

  &__item {
    margin: 0 30px;
    @extend .link-reset;

    @media (max-width: 1700px) {
      margin: 0 10px;
    }

    &:hover .slider__caption {
      color: #07a1fb;
      text-decoration-color: #07a1fb;
    }

  }

  &__wrap-img {
    background-color: #ffffff;
    border: 1px solid #eff1f2;
    border-radius: 4px;
    box-shadow: 0 15px 15px 0px rgba(32, 70, 128, 0.21);
    height: 188px;
    padding: 30px;
    max-width: 240px;
    margin: 0 auto 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $sxl) {
      padding: 15px;
    }

    @media (max-width: $md) {
      margin-bottom: 20px;
      box-shadow: 0 10px 10px 0px rgba(32, 70, 128, 0.21);
    }

    @media (max-width: $sm) {
      height: 130px;
    }

    img {
      max-height: 100%;
    }
  }

  &__caption {
    text-align: center;
    font-size: 18px;

    @media (max-width: $md) {
      display: none;
    }
  }

  &__arrow {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(180deg, #fdb726 0%, #fca218 100%);
    box-shadow: 0px 21px 50px -10px rgba(252, 101, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1700px) {
      width: 50px;
      height: 50px;
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }

    svg {
      width: 30px;
      height: 30px;
      fill: #fff;
      position: relative;

      @media (max-width: 1700px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 21%;
  }

  .slick-prev {
    right: calc(100% + 30px);
    z-index: 10;

    @media (max-width: 1700px) {
      right: 97%;
    }

    svg {
      right: 3px;
    }
  }

  .slick-next {
    left: calc(100% + 30px);
    z-index: 10;

    @media (max-width: 1700px) {
      left: 97%;
    }

    svg {
      left: 3px;
    }
  }

  .slick-dots {
    @extend .list-reset;
    text-align: center;
    padding-top: 30px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .slick-dots li button {
    transition-duration: 0.3s;
    display: inline-block;
    font-size: 0;
    color: transparent;
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 5px;
    border-radius: 50%;
    outline: none;

    border: 1px solid #ccdff3;
    background-color: #ddeaf7;
  }

  .slick-dots li.slick-active button {
    width: 9px;
    height: 9px;
    border: 1px solid #fbc140;
    margin: none;
    background-color: #fbc140;
    background-image: linear-gradient(to bottom, #fceb65 0%, #faa537 100%);
  }
}
