.slider-3 {
  
  &__list {
    border-top: 1px solid $c-lite-grey-2;
    border-bottom: 1px solid $c-lite-grey-2;
    background: linear-gradient(to bottom, #FAFCFF 0%, #F2F4F9 25%, #F2F4F9 75%, #FAFCFF 100%);

    padding: 35px 70px 30px;

    @media (max-width: 1700px) {
      margin: 0;
    }

    @media (max-width: $xl) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (max-width: $sm) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__item {
    position: relative;
    margin: 0 20px; 

    @media (max-width: 1700px) {
      margin: 0 10px;
    }
  }

  &__link {
    display: block;
    text-align: center;
  }

  &__wrap-img {
    background-color: #ffffff;
    border: 1px solid #eff1f2;
    border-radius: 4px;
    box-shadow: 0 15px 15px 0px rgba(32, 70, 128, 0.21);
    padding: 30px 10px;
    max-width: 240px;
    margin: 0 auto 34px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $sxl) {
      padding: 15px;
    }

    @media (max-width: $md) {
      margin-bottom: 20px;
      box-shadow: 0 10px 10px 0px rgba(32, 70, 128, 0.21);
    }

    img {
      max-height: 100%;
      margin: 0 auto;
    }
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(180deg, #fdb726 0%, #fca218 100%);
    box-shadow: 0px 21px 50px -10px rgba(252, 101, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;

    @media (max-width: 1700px) {
      width: 50px;
      height: 50px;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: #fff;
      position: relative;

      @media (max-width: 1700px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  .slick-prev {
    left: 8px;
    z-index: 10;

    @media (max-width: 1700px) {
    }

    svg {
      right: 3px;
    }
  }

  .slick-next {
    right: 8px;
    z-index: 10;

    @media (max-width: 1700px) {
    }

    svg {
      left: 3px;
    }
  }

  .slick-dots {
    @extend .list-reset;
    padding-top: 20px;
    text-align: center;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .slick-dots li button {
    transition-duration: 0.3s;
    display: inline-block;
    font-size: 0;
    color: transparent;
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 5px;
    border-radius: 50%;
    outline: none;

    border: 1px solid #ccdff3;
    background-color: #ddeaf7;
  }

  .slick-dots li.slick-active button {
    width: 9px;
    height: 9px;
    border: 1px solid #fbc140;
    margin: none;
    background-color: #fbc140;
    background-image: linear-gradient(to bottom, #fceb65 0%, #faa537 100%);
  }

  @media (max-width: $sm) {
    padding-bottom: 20px;
    background-size: auto 140px;
  }
}
