.footer {
  padding-top: 48px;
  border-top: 1px solid $c-lite-blue;
  background-color: $c-lite-gray-3;

  &__logo {
    width: 140px;
  }

  &__nav {
    margin: 0 -10px;

    ul {
      @extend .list-reset;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media (max-width: $md) {
        justify-content: start;
      }
    }

    li {
      margin: 0 10px 16px;
    }
  }

  &__copyright {
    border-top: 1px solid $c-lite-blue;
    text-align: center;
    padding: 15px 0;
    color: $c-subtitle;
  }
}
