.footer {
	border-top: 1px solid $c-lite-blue;
	background-color: $c-lite-grey-3;

	&__logo {
		margin-left: 120px;

		@media (max-width: $sxl) {
			margin-left: 0px;
		}
	}

	&__nav {
		margin: 0 -6px;
		max-width: 745px;

		ul {
			@extend .list-reset;
			display: flex;
			flex-wrap: wrap;
		}

		li {
			margin: 0 6px 16px;
		}
	}

	&__copyright {
		color: $c-subtitle;
	}
}
