.label {
	margin-bottom: 15px;
	font-size: rem(18);

	span {
		font-size: 10px;
		position: relative;
		top: -4px;
		left: -2px;
	}

	&._mb-md_0 {
		@media (max-width: $md) {
			margin-bottom: 0;
		}
	}
}

.label-2 {
	position: relative;
	padding-left: 28px;


	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 18px;
		height: 18px;
		border: 1px solid $c-lite-grey;
		border-radius: 2px;
	}
}

.checkbox:checked + .label-2::after {
	background-color: red;
	background: url(/design/img/icon/check-2.svg) no-repeat center center / 100%;
}

.checkbox:focus + .label-2::after {
	outline: 2px solid #A6C7FE;
}

.label-3 {
	position: relative;

	span {
		display: inline-block;
		width: 18px;
		height: 18px;
		position: relative;
		top: 2px;
		margin-right: 4px;
		border: 1px solid $c-lite-grey;
	}

	i {
		position: absolute;
		width: 20px;
		height: 20px;
		top: -4px;
		right: -4px;
		background: url(/design/img/icon/check-3.svg) no-repeat center center / 100%;
		opacity: 0;
		transition: .3s;
	}
}

.checkbox:checked + .label-3 i {
	opacity: 1;
}

.checkbox:focus + .label-3 span {
	outline: 2px solid #A6C7FE;
}
