.nav-main {
  border-top: 1px solid $c-lite-gray-2;

  ul {
    @extend .list-reset;
    display: flex;
    flex-wrap: wrap;
    margin-top: -1px;
  }

  li {
    &:not(:last-child) {
      margin-right: 16px;

      @media (max-width: $sxl) {
        margin-right: 3px;
      }
    }
  }

  a {
    @extend .link-reset;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: rem(15);
    transition: .2s;
    text-transform: uppercase;
    padding: 18px 10px 21px;
    color: $c-main;

    &:hover {
      color: $c-orange-2;

      svg {
        fill: $c-orange-2;
      }
    }

    &._current {
      border-top: 1px solid $c-orange-2;
      background-color: #fffaf1;
      color: $c-orange-2;

      svg {
        fill: $c-orange-2
      }
    }

    @media (max-width: $sxl) {
      padding: rem(14) rem(10) rem(14);
      font-size: rem(13);
    }
  }

  svg {
    width: 22px;
    height: 22px;
    margin-right: rem(10);
    fill: $c-blue-1;

    @media (max-width: $sxl) {
      margin-right: rem(6);
      width: 15px;
      height: 15px;
    }
  }
}
