//base
@import "base/font";
@import "base/var";
@import "base/global";
@import "base/util";

// translate px to rem
@function rem($pixels) {
  @return #{$pixels/16}rem;
}

//blocks
@import "blocks/time-discount";
@import "blocks/header/header";
@import "blocks/logo";



// ==================================== title ===
@import "blocks/title";



// ==================================== link ===
@import "blocks/link/link";



// ==================================== list ===
@import "blocks/list";



// ==================================== btn ===
@import "blocks/btn";



// ==================================== form ===
@import "blocks/form/search-form";
@import "blocks/form/input";



// ==================================== nav ===
@import "blocks/nav/nav-user";
@import "blocks/nav/nav-main";
@import "blocks/nav/nav-exams";
@import "blocks/nav/nav-mbl";



// ==================================== slider ===
@import "blocks/slider/slider";
@import "blocks/slider/slider-2";



// ==================================== table ===
@import "blocks/table/table";



// ==================================== aside ===
@import "blocks/aside/aside";



@import "blocks/promo";
@import "blocks/training-card";
@import "blocks/discount-label";
@import "blocks/subs-opt";
@import "blocks/total-due";


@import "blocks/footer/footer";

// =================================== modal ===
@import "blocks/modal/modal";


// =================================== reuse ===

// =================================== color
.c-orange-2 {
  color: $c-orange-2;
}

.c-blue-1 {
  color: $c-blue-1;
}

// =================================== font-size
.fz {
  &_19 {
    font-size: 1.19rem;
  }
}
