//base
@import "base/font";
@import "base/var";
@import "base/global";
@import "base/util";
@import "base/lib-custom";

// ==================================== title ===
@import "blocks/title";
// ==================================== link ===
@import "blocks/link";
// ==================================== btn ===
@import "blocks/btn";
// ==================================== list ===
@import "blocks/list";
// ==================================== form ===
@import "blocks/form/search-form";
@import "blocks/form/input";
@import "blocks/form/label";
@import "blocks/form/verification";
@import "blocks/form/form-check";
@import "blocks/form/checkbox";
@import "blocks/form/input-file";
// ==================================== nav ===
@import "blocks/nav/nav-user";
@import "blocks/nav/nav-main";
@import "blocks/nav/nav-exams";
@import "blocks/nav/nav-mbl";
@import "blocks/nav/memb-nav";
// ==================================== card ===
@import "blocks/training-card";
@import "blocks/course-card";
@import "blocks/indiv-card";
// ==================================== slider ===
@import "blocks/slider/slick";
@import "blocks/slider/slider";
@import "blocks/slider/slider-2";
@import "blocks/slider/slider-3";
@import "blocks/slider/slider-4";
@import "blocks/slider/slider-5";
// ==================================== table ===
@import "blocks/table/table";
// ==================================== modal ===
@import "blocks/modal/modal";
@import "blocks/modal/video-popup";
// =====================================================
// ==================================== ather blocks ===
// =====================================================
@import "blocks/time-discount";
@import "blocks/header/header";
@import "blocks/logo";
@import "blocks/search";
@import "blocks/promo";
@import "blocks/discount-label";
@import "blocks/subs-opt";
@import "blocks/premium-total";
@import "blocks/breadcrumb";
@import "blocks/vumingo";
@import "blocks/price-label";
@import "blocks/star-rating";
@import "blocks/contact-us";
@import "blocks/req-exam-s";
@import "blocks/step";
@import "blocks/premium-box";
@import "blocks/res-progr";
@import "blocks/res-list";
@import "blocks/faq";
@import "blocks/aside";
@import "blocks/cart-cert";
@import "blocks/top-cert";
@import "blocks/about";
@import "blocks/comments";
@import "blocks/sprite";
@import "blocks/add-comments";
@import "blocks/week-result";
@import "blocks/top-exams";
@import "blocks/exam";
@import "blocks/file-rating";
@import "blocks/vote";
@import "blocks/certific";
@import "blocks/best-seller";
@import "blocks/price-block";
@import "blocks/card-info";
@import "blocks/icon-circle";
@import "blocks/feedback";
@import "blocks/box-file-star-rating";
@import "blocks/star-form";
@import "blocks/tab-s";
@import "blocks/icon-play";
@import "blocks/video-list";
@import "blocks/pr-membership";
@import "blocks/feedback-a";
@import "blocks/what-is-this";
@import "blocks/get-question";
@import "blocks/prom-cart";

@import "blocks/search-result";
@import "blocks/questions";
// ============================== blog ===
// @import "blocks/post-list";
// @import "blocks/pagination";
// @import "blocks/post";

@import "blocks/footer/footer";


// ========================================= font-color
.c {

	&-subtitle {
		color: $c-subtitle;
	}

	&-orange-2 {
		color: $c-orange-2;
	}

	&-blue-1 {
		color: $c-blue-1;
	}

	&-grey {
		color: $c-grey;
	}

	&-green-1 {
		color: $c-green-1;
	}

	&-red {
		color: rgb(252, 66, 66);
	}
}

// ================================== font-size
.fz {

	&-16 {
		font-size: rem(16);
	}

	&-19 {
		font-size: rem(19);
	}

	&-22 {
		font-size: rem(22);
	}

	&-24 {
		font-size: rem(24);
	}

	&-26 {
		font-size: rem(26);
	}

	&-28 {
		font-size: rem(28);
	}

	&-32 {
		font-size: rem(32);
	}

	&-40 {
		font-size: rem(40);
	}
}

// ========================================== font-weight
.fw {
	&-400 {
		font-weight: 400;
	}

	&-700 {
		font-weight: 700;
	}
}


// text-align
.ta-center {
	text-align: center;
}

.ta-sm-center {
	@media (max-width: $sm) {
		text-align: center;
	}
}

.ta-left {
	text-align: left;
}

.ta-right {
	text-align: right;
}

.td-through {
	text-decoration: line-through;
}


// ================================================ white-space
.whs-normal {
	white-space: normal;
}

.break-all {
	word-break: break-all;
	overflow-wrap: break-word;
}

// ====================================================== cursor
.cu-p {
	cursor: pointer;
}

// ====================================================== icon
.icon-size {
	&-26 {
		width: rem(26);
		height: rem(26);
	}
}

.icon-fill {
	&-white {
		fill: #fff;
	}
}

// ======================================================= block size
.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.cexamin {
	font-size: rem(19);
	margin-bottom: rem(36);
}


// ================================================= my anchor
.my-anchor {
	font-size: 20px;
	color: yellow;
	background-color: red;
	padding: 0 10px;

	&.hide {
		display: none;
	}
}
