//base
@import "base/font";
@import "base/var";
@import "base/global";
@import "base/util";
@import "base/mixin";



//blocks
@import "blocks/time-discount";
@import "blocks/header/header";
@import "blocks/logo";



// ==================================== title ===
@import "blocks/title";



// ==================================== link ===
@import "blocks/link/link";



// ==================================== list ===
@import "blocks/list";



// ==================================== btn ===
@import "blocks/btn";



// ==================================== form ===
@import "blocks/form/search-form";
@import "blocks/form/input";



// ==================================== nav ===
@import "blocks/nav/nav-user";
@import "blocks/nav/nav-main";
@import "blocks/nav/nav-exams";
@import "blocks/nav/nav-mbl";



// ==================================== slider ===
@import "blocks/slider/slider";
@import "blocks/slider/slider-2";



// ==================================== table ===
@import "blocks/table/table";



// ==================================== aside ===
@import "blocks/aside/aside";


// ==================================== ather ===
@import "blocks/promo";
@import "blocks/training-card";
@import "blocks/discount-label";
@import "blocks/subs-opt";
@import "blocks/premium-total";
@import "blocks/breadcrumb";


@import "blocks/footer/footer";

// =================================== modal ===
@import "blocks/modal/modal";



// =================================== common font ===

// color
.c-orange-2 {
  color: $c-orange-2;
}

.c-blue-1 {
  color: $c-blue-1;
}

.c-grey {
  color: $c-grey;
}

.c-green-1 {
  color: $c-green-1;
}

//  font-size
.fz {
  &-19 {
    font-size: rem(19);
  }

  &-16 {
    font-size: rem(16);
  }
}

// font weight
.fw {
  &-700 {
    font-weight: 700;
  }
}
