.about {
	max-height: 50px;
	overflow-y: hidden;
	position: relative;
	margin-bottom: 10px;
	font-size: rem(19);

	&._large {
		max-height: 235px;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: rem(30);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
	}

	h5 {
		font-size: rem(19);
	}

	&._show {
		max-height: none;
		border-bottom: 1px solid transparent;
		margin-bottom: 0;
		&::after {
			display: none;
		}
	}
}
