.box-blue {
	border: 1px solid $c-lite-grey;
	padding: 1.25rem;
	background-color: $c-lite-blue;
	border-radius: 4px;
	width: 100%;

	&._maw_570px {
		max-width: 570px;
	}
	
	&._lite {
		background-color: #fafcff;
		border-color: #eff1f2;
	}
}
