.breadcrumb {
	@extend .list-reset;
	font-size: rem(17);
	padding: rem(15) 0 rem(15) rem(10);

	@media (max-width: $lg) {
		padding-left: 0;
	}

	li {
		position: relative;
		display: inline-block;
		color: $c-grey;
		padding: 4px 0;

		&:not(:last-child) {
			padding-right: rem(19);
			margin-right: rem(5);
			background: url(../img/icon/arrow-bredcrumb.svg) no-repeat right rem(10) / rem(9);
		}
	}

	a {
		@extend .link-reset;
	}
}
