.cart-cert {
	@extend .link-reset;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid $c-lite-grey;
	padding: rem(15);
	background-color: #fff;
	transition: .1s;
	// height: 180px;
	height: 200px;

	&__title {
		text-align: center;
		line-height: 1.1;

		@media (max-width: $sxl) {
			font-size: 16px;
		}
	}

	&__wrap-img {
		height: 70px;
		display: flex;
		align-items: center;
		// padding: 10px 20px;
		
		img {
			max-height: 100%;
		}

		@media (max-width: $sm) {
			height: 55px;
		}
	}

	&__num {

	}

	&:hover {
		background-color: $c-lite-grey-2;
	}

	@media (max-width: $sm) {
		height: 160px;
	}
}
