.course-card {
	position: relative;

	&__wrap-img {
		overflow-y: hidden;
		padding-bottom: 60%;
		position: relative;

		img {
			position: absolute;
			left: 0;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
		}

		&._large {
			padding-bottom: 75%;
		}
	}

	&__desc {
		padding: rem(15) rem(20);

		@media (max-width: $sm) {
			padding: rem(12);
		}

		&._p-small {
			padding: rem(12);
		}
	}

	&__box-num-title {
		position: absolute;
		top: 0;
		left: 0;
		padding: rem(15);
	}

	&__num {
		color: $c-orange-1;
		font-size: rem(19);
		margin-bottom: rem(10);
	}

	&__title {
		color: #fff;
		font-weight: 400;
		line-height: 1.2;
	}

	&__star-rating {
		position: absolute;
		top: rem(22);
		left: rem(23);

		@media (max-width: $sm) {
			top: rem(15);
			left: rem(15);
		}
	}

	&__price-label {
		position: absolute;
		top: rem(18);
		right: rem(23);

		@media (max-width: $sm) {
			display: none;
		}
	}

	&__link {
		@extend .link-reset;
		@extend .link-stretched;
		width: 100%;
		color: #516e84;
		font-size: rem(20);
		font-weight: 700;
		margin-bottom: rem(7);
		display: inline-block;

		@media (max-width: $sxl) {
			font-size: rem(16);
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		font-weight: 700;
		color: #516e84;

		& > div:not(:last-child) {
			margin-right: rem(20);
		}
	}
}
