.get-question {
	display: flex;
	padding-top: 40px;
	flex-direction: column;

	@media (max-width: $md) {
		padding-top: 12px;
	}

	&__desc {
		display: flex;
		align-items: center;
		margin-bottom: rem(16);

		@media (max-width: $sm) {
			margin-bottom: rem(8);
		}
	}

	&__text {
		width: 200px;
		color: $c-blue-1;

		@media (max-width: $md) {
			width: 240px;
		}
	}

	&__icon {
		width: rem(30);
		height: rem(30);

		@media (max-width: $md) {
			display: none;
		}
	}

	&__input {
	}
}
