.list {
	@extend .list-reset;
	font-size: rem(19);

	li {
		padding-left: rem(40);
		background: url(../img/icon/check.svg) no-repeat left center;
		background-size: rem(30);
		margin-bottom: rem(6);
	}
}

.list-2 {
	color: $c-orange-2;
	
	li {
		margin-bottom: rem(12);
		padding-left: rem(10);
	}

	span {
		color: $c-main;
	}

	&._col_2 {
		column-count: 2;
		column-gap: 30px;

		@media (max-width: $lg) {
			column-count: 1;
		}
	}
}

.list-3 {
	@extend .list-reset;

	li {
		margin-bottom: rem(5);
		padding-left: rem(20);
		position: relative;
		font-size: rem(19);

		&::before {
			content: "";
			position: absolute;
			// top: 50%;
			top: 11px;
			left: 0;
			// transform: translateY(-50%);
			width: 8px;
			height: 8px;
			background-color: #d1def1;
		}
	}

	&._col_2 {
		column-count: 2;
		column-gap: 30px;

		@media (max-width: $xl) {
			// column-count: 1;
		}
	}
}
