.pagination {
	display: flex;

	&__btn {

		svg {
			width: 14px;
			height: 14px;
			display: inline-block;
			fill: #354c5e;
			position: relative;
			top: -1px;

			@media (max-width: $md) {
				display: none;
			}
		}
		
		&._prev {
			background-color: #f1f2f3;
			margin-right: rem(50);

			svg {
				margin-right: rem(8)
			}
		}

		&._next {
			background-color: #f1f2f3;
			margin-left: rem(50);

			svg {
				margin-left: rem(8)
			}
		}
	}

	&__list {
		@extend .list-reset;
		display: flex;

		@media (max-width: $xl) {
			margin: 0 rem(30);
		}
	}

	&__item{
		&:not(:last-child) {
			margin-right: rem(15);
		}
	}

	&__link {
		@extend .link-reset;
	}

	&__theme {
		text-align: center;
    font-size: rem(19);
    font-weight: bold;
    display: inline-block;
		border: 2px solid #f1f2f3;
    padding: rem(15) rem(22);
    color: #5d7b92;
    border-radius: rem(4);

		&._current {
			color: #ffffff;
			background-color: #354c5e;
			border-color: #354c5e;
		}

		&._active {
		// 	background-image: linear-gradient(180deg, #fdb726 0%, #fca218 100%);
		// 	color: #ffffff;
		// 	border-color: transparent;
		// 	box-shadow: 0 21px 32px -10px rgba(252, 101, 0, 0.3);

			svg {
				fill: #fff;
			}
		}

		@media (max-width: $xl) {
			padding: rem(8) rem(17);
		}
		
		@media (max-width: $sm) {
			padding: rem(3) rem(8);			
		}
	}

	@media (max-width: $lg) {
		justify-content: center;
	}
}
