.price-label {
	font-family: $ff-title;
	background-image: linear-gradient(180deg, #fdb726 0%, #fca218 100%);
	font-size: rem(18);
	color: #fff;
	font-weight: 600;
	border-radius: 1.5em;
	padding: rem(3) rem(10) rem(2);
}
