.search-result {
	display: none;
	background-color: #fff;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 1;
	border-radius: rem(4);
	overflow: hidden;
	border: 1px solid $c-lite-grey;
	
	.search-result__item {
		cursor: pointer;
		font-size: rem(19);
		padding: rem(6) rem(16);
		width: 100%;
		color: $c-main;

		&:hover {
			background-color: $c-lite-grey-2;
		}
	}
}
