.sprite {
	background-image: url(/design/img/flags/spritesheet.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 32px;
	height: 32px;

	&._unknown {
		background-image: url(/design/img/ui/country-back.svg) !important;
		background-position: 6px 3px;
	}
}

.sprite-AD {
	background-position: -20px -20px;
}

.sprite-AE {
	background-position: -92px -20px;
}

.sprite-AF {
	background-position: -164px -20px;
}

.sprite-AG {
	background-position: -236px -20px;
}

.sprite-AI {
	background-position: -308px -20px;
}

.sprite-AL {
	background-position: -380px -20px;
}

.sprite-AM {
	background-position: -452px -20px;
}

.sprite-AN {
	background-position: -524px -20px;
}

.sprite-AO {
	background-position: -596px -20px;
}

.sprite-AQ {
	background-position: -668px -20px;
}

.sprite-AR {
	background-position: -740px -20px;
}

.sprite-AS {
	background-position: -812px -20px;
}

.sprite-AT {
	background-position: -884px -20px;
}

.sprite-AU {
	background-position: -956px -20px;
}

.sprite-AW {
	background-position: -1028px -20px;
}

.sprite-AX {
	background-position: -1100px -20px;
}

.sprite-AZ {
	background-position: -1172px -20px;
}

.sprite-BA {
	background-position: -1244px -20px;
}

.sprite-BB {
	background-position: -1316px -20px;
}

.sprite-BD {
	background-position: -1388px -20px;
}

.sprite-BE {
	background-position: -1460px -20px;
}

.sprite-BF {
	background-position: -1532px -20px;
}

.sprite-BG {
	background-position: -1604px -20px;
}

.sprite-BH {
	background-position: -1676px -20px;
}

.sprite-BI {
	background-position: -1748px -20px;
}

.sprite-BJ {
	background-position: -1820px -20px;
}

.sprite-BL {
	background-position: -1892px -20px;
}

.sprite-BM {
	background-position: -1964px -20px;
}

.sprite-BN {
	background-position: -2036px -20px;
}

.sprite-BO {
	background-position: -2108px -20px;
}

.sprite-BR {
	background-position: -2180px -20px;
}

.sprite-BS {
	background-position: -2252px -20px;
}

.sprite-BT {
	background-position: -2324px -20px;
}

.sprite-BW {
	background-position: -2396px -20px;
}

.sprite-BY {
	background-position: -2468px -20px;
}

.sprite-BZ {
	background-position: -2540px -20px;
}

.sprite-CA {

	background-position: -2612px -20px;
}

.sprite-CC {

	background-position: -2684px -20px;
}

.sprite-CD {

	background-position: -2756px -20px;
}

.sprite-CF {

	background-position: -2828px -20px;
}

.sprite-CG {

	background-position: -2900px -20px;
}

.sprite-CH {

	background-position: -2972px -20px;
}

.sprite-CI {

	background-position: -3044px -20px;
}

.sprite-CK {

	background-position: -3116px -20px;
}

.sprite-CL {

	background-position: -3188px -20px;
}

.sprite-CM {

	background-position: -3260px -20px;
}

.sprite-CN {

	background-position: -3332px -20px;
}

.sprite-CO {

	background-position: -3404px -20px;
}

.sprite-CR {

	background-position: -3476px -20px;
}

.sprite-CU {

	background-position: -3548px -20px;
}

.sprite-CV {

	background-position: -3620px -20px;
}

.sprite-CW {

	background-position: -3692px -20px;
}

.sprite-CX {

	background-position: -3764px -20px;
}

.sprite-CY {

	background-position: -3836px -20px;
}

.sprite-CZ {

	background-position: -3908px -20px;
}

.sprite-DE {

	background-position: -3980px -20px;
}

.sprite-DJ {

	background-position: -4052px -20px;
}

.sprite-DK {

	background-position: -4124px -20px;
}

.sprite-DM {

	background-position: -4196px -20px;
}

.sprite-DO {

	background-position: -4268px -20px;
}

.sprite-DZ {

	background-position: -4340px -20px;
}

.sprite-EC {

	background-position: -4412px -20px;
}

.sprite-EE {

	background-position: -4484px -20px;
}

.sprite-EG {

	background-position: -4556px -20px;
}

.sprite-EH {

	background-position: -4628px -20px;
}

.sprite-ER {

	background-position: -4700px -20px;
}

.sprite-ES {

	background-position: -4772px -20px;
}

.sprite-ET {

	background-position: -4844px -20px;
}

.sprite-EU {

	background-position: -4916px -20px;
}

.sprite-FI {

	background-position: -4988px -20px;
}

.sprite-FJ {

	background-position: -5060px -20px;
}

.sprite-FK {

	background-position: -5132px -20px;
}

.sprite-FM {

	background-position: -5204px -20px;
}

.sprite-FO {

	background-position: -5276px -20px;
}

.sprite-FR {

	background-position: -5348px -20px;
}

.sprite-GA {

	background-position: -5420px -20px;
}

.sprite-GB {

	background-position: -5492px -20px;
}

.sprite-GD {

	background-position: -5564px -20px;
}

.sprite-GE {

	background-position: -5636px -20px;
}

.sprite-GG {

	background-position: -5708px -20px;
}

.sprite-GH {

	background-position: -5780px -20px;
}

.sprite-GI {

	background-position: -5852px -20px;
}

.sprite-GL {

	background-position: -5924px -20px;
}

.sprite-GM {

	background-position: -5996px -20px;
}

.sprite-GN {

	background-position: -6068px -20px;
}

.sprite-GQ {

	background-position: -6140px -20px;
}

.sprite-GR {

	background-position: -6212px -20px;
}

.sprite-GS {

	background-position: -6284px -20px;
}

.sprite-GT {

	background-position: -6356px -20px;
}

.sprite-GU {

	background-position: -6428px -20px;
}

.sprite-GW {

	background-position: -6500px -20px;
}

.sprite-GY {

	background-position: -6572px -20px;
}

.sprite-HK {

	background-position: -6644px -20px;
}

.sprite-HN {

	background-position: -6716px -20px;
}

.sprite-HR {

	background-position: -6788px -20px;
}

.sprite-HT {

	background-position: -6860px -20px;
}

.sprite-HU {

	background-position: -6932px -20px;
}

.sprite-IC {

	background-position: -7004px -20px;
}

.sprite-ID {

	background-position: -7076px -20px;
}

.sprite-IE {

	background-position: -7148px -20px;
}

.sprite-IL {

	background-position: -7220px -20px;
}

.sprite-IM {

	background-position: -7292px -20px;
}

.sprite-IN {

	background-position: -7364px -20px;
}

.sprite-IO {
	width: 94px;
	height: 47px;
	background-position: -7436px -20px;
}

.sprite-IQ {

	background-position: -7570px -20px;
}

.sprite-IR {

	background-position: -7642px -20px;
}

.sprite-IS {

	background-position: -7714px -20px;
}

.sprite-IT {

	background-position: -7786px -20px;
}

.sprite-JE {

	background-position: -7858px -20px;
}

.sprite-JM {

	background-position: -7930px -20px;
}

.sprite-JO {

	background-position: -8002px -20px;
}

.sprite-JP {

	background-position: -8074px -20px;
}

.sprite-KE {

	background-position: -8146px -20px;
}

.sprite-KG {

	background-position: -8218px -20px;
}

.sprite-KH {

	background-position: -8290px -20px;
}

.sprite-KI {

	background-position: -8362px -20px;
}

.sprite-KM {

	background-position: -8434px -20px;
}

.sprite-KN {

	background-position: -8506px -20px;
}

.sprite-KP {

	background-position: -8578px -20px;
}

.sprite-KR {

	background-position: -8650px -20px;
}

.sprite-KW {

	background-position: -8722px -20px;
}

.sprite-KY {

	background-position: -8794px -20px;
}

.sprite-KZ {

	background-position: -8866px -20px;
}

.sprite-LA {

	background-position: -8938px -20px;
}

.sprite-LB {

	background-position: -9010px -20px;
}

.sprite-LC {

	background-position: -9082px -20px;
}

.sprite-LI {

	background-position: -9154px -20px;
}

.sprite-LK {

	background-position: -9226px -20px;
}

.sprite-LR {

	background-position: -9298px -20px;
}

.sprite-LS {

	background-position: -9370px -20px;
}

.sprite-LT {

	background-position: -9442px -20px;
}

.sprite-LU {

	background-position: -9514px -20px;
}

.sprite-LV {

	background-position: -9586px -20px;
}

.sprite-LY {

	background-position: -9658px -20px;
}

.sprite-MA {

	background-position: -9730px -20px;
}

.sprite-MC {

	background-position: -9802px -20px;
}

.sprite-MD {
	background-position: -9874px -20px;
}

.sprite-ME {
	background-position: -9946px -20px;
}

.sprite-MF {
	background-position: -10018px -20px;
}

.sprite-MG {
	background-position: -10090px -20px;
}

.sprite-MH {
	background-position: -10162px -20px;
}

.sprite-MK {
	background-position: -10234px -20px;
}

.sprite-ML {
	background-position: -10306px -20px;
}

.sprite-MM {
	background-position: -10378px -20px;
}

.sprite-MN {
	background-position: -10450px -20px;
}

.sprite-MO {
	background-position: -10522px -20px;
}

.sprite-MP {
	background-position: -10594px -20px;
}

.sprite-MQ {
	background-position: -10666px -20px;
}

.sprite-MR {
	background-position: -10738px -20px;
}

.sprite-MS {
	background-position: -10810px -20px;
}

.sprite-MT {
	background-position: -10882px -20px;
}

.sprite-MU {
	background-position: -10954px -20px;
}

.sprite-MV {
	background-position: -11026px -20px;
}

.sprite-MW {
	background-position: -11098px -20px;
}

.sprite-MX {
	background-position: -11170px -20px;
}

.sprite-MY {
	background-position: -11242px -20px;
}

.sprite-MZ {
	background-position: -11314px -20px;
}

.sprite-NA {
	background-position: -11386px -20px;
}

.sprite-NC {
	background-position: -11458px -20px;
}

.sprite-NE {
	background-position: -11530px -20px;
}

.sprite-NF {
	background-position: -11602px -20px;
}

.sprite-NG {
	background-position: -11674px -20px;
}

.sprite-NI {
	background-position: -11746px -20px;
}

.sprite-NL {
	background-position: -11818px -20px;
}

.sprite-NO {
	background-position: -11890px -20px;
}

.sprite-NP {
	background-position: -11962px -20px;
}

.sprite-NR {
	background-position: -12034px -20px;
}

.sprite-NU {
	background-position: -12106px -20px;
}

.sprite-NZ {
	background-position: -12178px -20px;
}

.sprite-OM {
	background-position: -12250px -20px;
}

.sprite-PA {
	background-position: -12322px -20px;
}

.sprite-PE {
	background-position: -12394px -20px;
}

.sprite-PF {
	background-position: -12466px -20px;
}

.sprite-PG {
	background-position: -12538px -20px;
}

.sprite-PH {
	background-position: -12610px -20px;
}

.sprite-PK {
	background-position: -12682px -20px;
}

.sprite-PL {
	background-position: -12754px -20px;
}

.sprite-PN {
	background-position: -12826px -20px;
}

.sprite-PR {
	background-position: -12898px -20px;
}

.sprite-PS {
	background-position: -12970px -20px;
}

.sprite-PT {
	background-position: -13042px -20px;
}

.sprite-PW {
	background-position: -13114px -20px;
}

.sprite-PY {
	background-position: -13186px -20px;
}

.sprite-QA {
	background-position: -13258px -20px;
}

.sprite-RE {
	width: 50px;
	height: 33px;
	background-position: -13330px -20px;
}

.sprite-RO {
	background-position: -13420px -20px;
}

.sprite-RS {
	background-position: -13492px -20px;
}

.sprite-RU {
	background-position: -13564px -20px;
}

.sprite-RW {
	background-position: -13636px -20px;
}

.sprite-SA {
	background-position: -13708px -20px;
}

.sprite-SB {
	background-position: -13780px -20px;
}

.sprite-SC {
	background-position: -13852px -20px;
}

.sprite-SD {
	background-position: -13924px -20px;
}

.sprite-SE {
	background-position: -13996px -20px;
}

.sprite-SG {
	background-position: -14068px -20px;
}

.sprite-SH {
	background-position: -14140px -20px;
}

.sprite-SI {
	background-position: -14212px -20px;
}

.sprite-SK {
	background-position: -14284px -20px;
}

.sprite-SL {
	background-position: -14356px -20px;
}

.sprite-SM {
	background-position: -14428px -20px;
}

.sprite-SN {
	background-position: -14500px -20px;
}

.sprite-SO {
	background-position: -14572px -20px;
}

.sprite-SR {
	background-position: -14644px -20px;
}

.sprite-SS {
	background-position: -14716px -20px;
}

.sprite-ST {
	background-position: -14788px -20px;
}

.sprite-SV {
	background-position: -14860px -20px;
}

.sprite-SX {
	width: 65px;
	height: 40px;
	background-position: -14932px -20px;
}

.sprite-SY {
	background-position: -15037px -20px;
}

.sprite-SZ {
	background-position: -15109px -20px;
}

.sprite-TC {
	background-position: -15181px -20px;
}

.sprite-TD {
	background-position: -15253px -20px;
}

.sprite-TF {
	background-position: -15325px -20px;
}

.sprite-TG {
	background-position: -15397px -20px;
}

.sprite-TH {
	background-position: -15469px -20px;
}

.sprite-TJ {
	background-position: -15541px -20px;
}

.sprite-TK {
	background-position: -15613px -20px;
}

.sprite-TL {
	background-position: -15685px -20px;
}

.sprite-TM {
	background-position: -15757px -20px;
}

.sprite-TN {
	background-position: -15829px -20px;
}

.sprite-TO {
	background-position: -15901px -20px;
}

.sprite-TR {
	background-position: -15973px -20px;
}

.sprite-TT {
	background-position: -16045px -20px;
}

.sprite-TV {
	background-position: -16117px -20px;
}

.sprite-TW {
	background-position: -16189px -20px;
}

.sprite-TZ {
	background-position: -16261px -20px;
}

.sprite-UA {
	background-position: -16333px -20px;
}

.sprite-UG {
	background-position: -16405px -20px;
}

.sprite-US {
	background-position: -16477px -20px;
}

.sprite-UY {
	background-position: -16549px -20px;
}

.sprite-UZ {
	background-position: -16621px -20px;
}

.sprite-VA {
	background-position: -16693px -20px;
}

.sprite-VC {
	background-position: -16765px -20px;
}

.sprite-VE {
	background-position: -16837px -20px;
}

.sprite-VG {
	background-position: -16909px -20px;
}

.sprite-VI {
	background-position: -16981px -20px;
}

.sprite-VN {
	background-position: -17053px -20px;
}

.sprite-VU {
	background-position: -17125px -20px;
}

.sprite-WF {
	background-position: -17197px -20px;
}

.sprite-WS {
	background-position: -17269px -20px;
}

.sprite-YE {
	background-position: -17341px -20px;
}

.sprite-YT {
	background-position: -17413px -20px;
}

.sprite-ZA {
	background-position: -17485px -20px;
}

.sprite-ZM {
	background-position: -17557px -20px;
}

.sprite-ZW {
	background-position: -17629px -20px;
}

.sprite-_abkhazia {
	background-position: -17701px -20px;
}

.sprite-_basque-country {
	background-position: -17773px -20px;
}

.sprite-_british-antarctic-territory {
	background-position: -17845px -20px;
}

.sprite-_commonwealth {
	background-position: -17917px -20px;
}

.sprite-_england {
	background-position: -17989px -20px;
}

.sprite-_gosquared {
	background-position: -18061px -20px;
}

.sprite-_kosovo {
	background-position: -18133px -20px;
}

.sprite-_mars {
	background-position: -18205px -20px;
}

.sprite-_nagorno-karabakh {
	background-position: -18277px -20px;
}

.sprite-_nato {
	background-position: -18349px -20px;
}

.sprite-_northern-cyprus {
	background-position: -18421px -20px;
}

.sprite-_olympics {
	background-position: -18493px -20px;
}

.sprite-_red-cross {
	background-position: -18565px -20px;
}

.sprite-_scotland {
	background-position: -18637px -20px;
}

.sprite-_somaliland {
	background-position: -18709px -20px;
}

.sprite-_south-ossetia {
	background-position: -18781px -20px;
}

.sprite-_united-nations {
	background-position: -18853px -20px;
}

.sprite-_unknown {
	background-position: -18925px -20px;
}

.sprite-_wales {
	background-position: -18997px -20px;
}
.sprite-unknown {
	background-position: -19069px -20px;
}
