.star-form {
	display: flex;
	
	&__label {
		display: block;
		width: 30px;
		height: 20px;
		padding: 0 5px;
		cursor: pointer;

		img {
			pointer-events: none;
		}
		
		img:last-child {
			display: none;
		}

		&._hover {
			img:first-of-type {
				display: none;
			}
			
			img:last-of-type {
				display: block;
			}
		}
		
		&._active {
			img:first-of-type {
				display: none !important;
			}
			
			img:last-of-type {
				display: block !important;
			}
		}
	}
}
