.subs-opt {
	display: block;
	border: 2px solid #bdf0bd;
	border-radius: 8px;
	text-align: center;
	padding: 42px 30px 36px;
	transition: .3s;
	cursor: pointer;
	height: 100%;
	margin: 0;

	span {
		display: block;
	}

	&__first {
		@media(max-width: $sm) {
			margin-right: rem(14);
		}
	}

	&__title {
		font-family: $ff-title;
		letter-spacing: -0.05em;
		font-size: rem(24);
		font-weight: 600;
		color: #3eb53e;
		text-transform: uppercase;
		text-decoration: none;
		margin-bottom: rem(2);
		
		@media (max-width: $md) {
			font-size: rem(18);
		}
	}

	&__desc {
		font-size: rem(19);
		padding-bottom: 20px;
		position: relative;
		margin-bottom: rem(36);

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 28px;
			height: 1px;
			background-color: #a7b9c7;
			transform: translateX(-50%);

			@media (max-width: $md) {
				display: none;
			}
		}

		@media (max-width: $lg) {
			margin-bottom: rem(15);
		}

		@media (max-width: $md) {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	&__second {
		letter-spacing: -0.1em;
	}

	&__old {
		font-family: $ff-title;
		font-size: rem(32);
		font-weight: 600;
		text-decoration: line-through;

		@media (max-width: $lg) {
			font-size: rem(25);
		}

		@media (max-width: $md) {
			font-size: rem(18);
		}
	}

	&__current {
		font-family: $ff-title;
		font-size: rem(56);
		font-weight: 600;
		line-height: 1.1;
		margin-bottom: rem(8);

		@media (max-width: $lg) {
			font-size: rem(35);
		}

		@media (max-width: $md) {
			font-size: rem(30);
			margin-bottom: 0;
		}

		@media (max-width: $sm) {
			font-size: rem(24);
		}
	}

	&__month {
		color: #a7b9c7;
		font-size: rem(19);
	}

	@media (max-width: $lg) {
		padding: rem(25);
	}

	@media (max-width: $md) {
		padding: rem(10) 50px rem(10) rem(10);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

input:checked + .subs-opt {
	border: 2px solid #34b734;
	background-color: #34b734;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 20px;
		right: 20px;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		background: #fff url(../img/icon/check-2.svg) no-repeat center center;

		@media (max-width: $md) {
			top: 10px;
			right: 10px;
			width: 20px;
			height: 20px;
			background-size: 80%;
		}
	}

	.subs-opt__title,
	.subs-opt__old,
	.subs-opt__current {
		color: #fff;
	}

	.subs-opt__desc {
		color: #62f362;
	}

	.subs-opt__desc {
		&::after {
			background-color: #fff;
		}
	}

	.subs-opt__month {
		color: #167f16;
	}
}
