.tab-s {
	margin-top: rem(-47);
	
	&__item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px, rgba(0, 0, 0, 0.1) 0px 3px 3px 0px;
		opacity: 0;
		transition: .5s;
		padding: rem(30);

		&._fade-in {
			opacity: 1;
		}

		@media (max-width: $sm) {
			padding-left: rem(15);
			padding-right: rem(15);
		}
	}
	
}
