.time-discount {
	background-color: $c-orange-1;

	.container {
		position: relative;
	}

	&__body {
		max-width: 380px;
		padding: 10px 41px 10px 19px;
		text-align: center;
		position: relative;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: .8px;
		font-family: $ff-title;

		@media (max-width: $sm) {
			font-size: 16px;
			padding: 10px 25px 10px 20px;
		}
	}

	&__timer {
		font-size: 20px;
	}

	&__btn {
		position: absolute;
		top: 9px;
		right: 10px;
		padding: 5px;
		font-size: 18px;
		color: #354c5e;

		@media (max-width: $md) {
			right: 10px;
		}
	}
}
