.title {
  font-family: $ff-title;
  font-weight: 700;
  font-size: rem(34);
  letter-spacing: -1.8px;

  @media (max-width: $lg) {
    font-size: rem(26);
  }

  @media (max-width: $sm) {
    text-align: center;
  }
}

.title-2 {
  font-family: $ff-title;
  font-size: rem(28);
  font-weight: 600;
  color: $c-main;
  margin-bottom: 15px;
  letter-spacing: -1.8px;
}

.title-3 {
  font-family: $ff-title;
  font-size: rem(28);
  font-weight: 700;
  letter-spacing: -1.8px;
}
