.training-card {
	position: relative;

	&__box-img-price {
		margin-bottom: 22px;
		width: 100%;

		@media (max-width: $md) {
			margin-bottom: 0;
			padding-right: 20px;
			width: 40%;
		}
	}

	&__desc {
		@media (max-width: $md) {
			width: 60%;
		}
	}

	&__price-label {
		position: absolute;
		top: 20px;
		right: 10px;
	}

	&__link {
		font-size: rem(20);
		display: inline-block;
		margin-bottom: rem(18);

		@media (max-width: $md) {
			font-size: rem(16);
		}
	}

	@media (max-width: $md) {
		display: flex;
	}
}
