.training-card {
	max-width: 455px;
	position: relative;

	&__box-img-price {
		margin-bottom: 22px;
	}

	&__price-label {
		position: absolute;
		top: 20px;
		right: 10px;
	}

	&__img {

	}

	&__link {
		font-size: 1.25;
		display: inline-block;
		margin-bottom: 1.125rem;
	}
}
