.video-list {
	@extend .list-reset;	

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}

	&__btn {
		padding-right: rem(15);
		text-align: left;

		& * {
			pointer-events: none;
		}
	}
}
