.vote {
	display: flex;
	justify-content: center;

&__label {
		display: inline-flex;
		align-items: center;
		font-weight: 700;
		font-size: rem(19);
		cursor: pointer;

		&:not(:last-child) {
			margin-right: rem(20);
		}

		&._like {
			color: #46b846;

			.vote__box-icon {
				border: 2px solid #46b846;

				svg {
					fill: #46b846;
				}
			}

			&._active {}

		}

		&._dislike {
			color: #fb5e5f;

			.vote__box-icon {
				border: 2px solid #fb5e5f;

				svg {
					fill: #fb5e5f;
				}
			}
		}
	}

	&__box-icon {
		border-radius: 50%;
		height: 32px;
		width: 32px;
		margin-right: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #ffffff;

		svg {
			width: 14px;
			height: 14px;
		}
	}

	&__input:checked + .vote__label._like {
		.vote__box-icon {
			background-color: #46b846;		 
			svg {
				fill: #fff;
			}
		}
	}

	&__input:checked + .vote__label._dislike {
		.vote__box-icon {
			background-color: #fb5e5f;	 
			svg {
				fill: #fff;
			}	 	
		}
	}	
}
