.week-result {
		width: 100%;
		background-color: #fafcff;
		border-radius: rem(10);
		border: 1px solid #eff1f2;
		text-align: center;
		padding: rem(25);

	&__num {
		font-weight: 700;
		font-size: rem(48);
		color: $c-blue-1;
		margin-bottom: rem(15);

		@media (max-width: $lg) {
			font-size: rem(36);
		}
	}
}
