.what-is-this {
	display: flex;
	align-items: center;
	width: 190px;
	flex-shrink: 0;
	position: relative;

	&__img {
		margin-right: rem(5);
	}

	&__img-modal {
		position: absolute;
		bottom: calc(100% + 10px);
		left: 0;
		visibility: hidden;
		opacity: 0;
		transition: .3s;

		@media (max-width: $sm) {
			left: 0;
		}
	}

	&__text {
		white-space: nowrap;
	}

	&:hover .what-is-this__img-modal {
		visibility: visible;
		opacity: 1;
	}

	@media (max-width: $sm) {
		width: 100px;
	}
}
